<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Project Title</title>
		<meta name="description" content="Project Description">
		<meta name="author" content="Jamie Copeland">
		<link rel="stylesheet" href="styles/main.css">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		Hello World from the new template!
		<p>{{message}}</p>

	<!-- <script id="requireScript" src="js/libs/require-2.1.1.min.js" data-main="js/boot.min"></script> -->
	<script id="requireScript" src="js/libs/require-2.1.1.min.js" data-main="js/src/boot"></script>
	</body>
</html>